@page
@model DipWeb.Pages.Базовая_величина.EditModel

@{
    ViewData["Title"] = "Edit";
}



<h4>БазоваяВеличина</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="БазоваяВеличина.ИдентификаторБазовойВеличины" />
            <div class="form-group">
                <label asp-for="БазоваяВеличина.ЗначениеБВ" class="control-label"></label>
                <input asp-for="БазоваяВеличина.ЗначениеБВ" class="form-control" />
                <span asp-validation-for="БазоваяВеличина.ЗначениеБВ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="БазоваяВеличина.ДатаПринятия" class="control-label"></label>
                <input asp-for="БазоваяВеличина.ДатаПринятия" class="form-control" />
                <span asp-validation-for="БазоваяВеличина.ДатаПринятия" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
